/* .App {
  text-align: center;
} */
.Main{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .Main {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
}